URxvt.cursorUnderline: true
URxvt.cursorBlink: true
URxvt.urgentOnBell: true
URxvt.scrollBar: false
URxvt.underlineColor:  #7100DC
URxvt.font:	xft:IBM Plex Mono:pixelsize=13
URxvt.boldfont:	xft:IBM Plex Mono:bold:pixelsize=13
URxvt.internalBorder: 10
URxvt.letterSpace: 0
URxvt.foreground: YELLOW
URxvt.background: BLACK
URxvt.color0:     #000000
URxvt.color8:     #4D4D4D
URxvt.color1:     #ff002b
URxvt.color9:     #ff002b
URxvt.color2:     #2dfb3b
URxvt.color10:    #2dfb3b
URxvt.color3:     #f5c740
URxvt.color11:    #f5c740
URxvt.color4:     #3d00ff
URxvt.color12:    #3d00ff
URxvt.color5:     #FF79C6
URxvt.color13:    #FF92D0
URxvt.color6:     #8BE9FD
URxvt.color14:    #9AEDFE
URxvt.color7:     #BFBFBF
URxvt.color15:    #E6E6E6